@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HirukoPro-Black";
  src: url("../../public/fonts/HirukoPro-Black.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dollar Outline";
  src: url("../../public/fonts/DollarOutlineDemo-DO499.ttf") format('woff2'),
       url("../../public/fonts/DollarOutlineDemo-DO499.ttf") format('woff');
  /* Add more font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: "Dollar Outline", "HirukoPro-Black";
  color: #2188e7;
}

.footer-logo {
  font-family: "HirukoPro-Black";
  color: #fff;
}

.twitter-tweet * {
  min-width: 350px !important;
}
